.product-info {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #DDD;
    margin-bottom: 30px;
}

.product-info h1 {
    font-size: 32px;
}

.product-info p {
    color: #666;
    line-height: 24px;
    margin-top: 5px;
}

.product-info p a {
    color: #069;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:0;
    background: #fed136;
    color: #fff;
    font-size:16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.back:hover {
    opacity: 0.7;
}

.img {
    width: 300px;
    margin-left: 30%;
}

.delete{
    margin-top: 10px;
    background: #ff4b4b;
}
.edit{
    margin-top: 10px;
    background: #62ff7c;
    height: 40px;
    text-decoration: none;
}